/***************************************/
/**********Besic Set up*****************/
/***************************************/

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body
{   
font-family: 'Montserrat', sans-serif;

text-rendering: optimizeLegibility;
background-color: rgb(248, 249, 250);

}

.row
{
    width: 1140px;
    margin: auto;
}

section
{
    overflow: hidden;
    padding: 50px 0px;
}

/***************************************/
/**********Navigation Bar*****************/
/***************************************/

.navigation-bg
{
    background-color: #ffffff;
    color: black;
    box-shadow: 0px 0.5px 5px rgb(136, 136, 136);
}
.navigation-brand
{
    color: black;
    
}

.navigation-brand-text
{
    border-bottom: 2px solid #FF7F01;
}
.navigation-brand:hover
{
    color: black;
}

.nav-logo-open
{
    color: #FF7F01;
    margin-right: 10px;
    margin-left: 150px;

    transition: 0.3s;
}


.nav-logo-close
{
    color: #FF7F01;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.3s;
}

.nav-logo:hover
{
    cursor: pointer;
}

/************************************/
/**********Side Navigation************/
/***************************************/



.side-nav-image-div h2
{
    font-size: 30px;
    color: #FF7F01;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.side-nav-image-div h2 span
{
    border-bottom: 3px solid #FF7F01;

}


.side-nav-open
{
    
    width: 240px;
    height: 100%;

    position:fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;

    background-color: #ffffff;
    transition: 0.3s;

    z-index: 111111;
    box-shadow: 0px 0.5px 5px rgb(136, 136, 136);
}




.side-nav-close
{
   
    width: 0px;
    height: 100%;

    position:fixed;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    overflow: hidden;
    transition: 0.3s;

}




.side-nav-item
{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0px; 
    transition: 0.5s;   
}
.side-nav-item:hover
{
    background-color:#FF7F01 ;
    color: white;
}

.side-nav-item-active
{
    border-left: 10px solid #FF7F01;
    background-color: #ff80015d;
}

.side-nav-icon
{
    margin-left: 10px;
}

.side-nav-text
{
    margin-left: 15px;
}



/**************************************/
/************Content******************/
/***************************************/
.content
{
    margin-top: 80px;
    margin-left: 240px;
    color: black;

    transition: 0.3s;
}

.content-expand
{
    margin-top: 80px;
    color: black;

    transition: 0.3s;
}


/**************************************/
/************Scroll Bar******************/
/***************************************/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF7F01 ;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }






/***************************************/
/**********Post List Section*****************/
/***************************************/


.table-content
{
    background-color: white;
    width: 94%;
    margin: auto;
    padding: 40px 40px;

    border-radius: 10px;
}


.table-content .my-table
{
    height: 360px;
    overflow: scroll;
}

td
{
    padding-bottom: 20px !important;
}

.table-edit-btn 
{
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.247);
    padding: 5px 10px;
    border-radius: 5px;
}

.table-delete-btn
{
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.247);
    padding: 5px 10px;
    border-radius: 5px;
    color: red;
    margin-top: 4px;
}

.table-edit-btn-link
{
    color: green;
}




/**************************************/
/*********Post Create Update**********/
/***************************************/
.post-create-update-section
{
    padding: 20px;
    margin-top: 50px;
}

.post-create-update-section h4
{
    padding-left: 20px;
}

.post-create-update-section .form
{
    background-color: #ffffff;
    padding: 30px 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 9px rgb(198, 198, 198); 
    border-left: 5px solid #FF7F01;
    border-top: 5px solid #FF7F01;
   
}

.post-form-grid
{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    padding: 20px;
    margin-top: 30px;
}

.post-form-grid input
{
    display: block;
    width: 90%;
    height: 30px;
    border: 0.5px solid rgb(196, 194, 194);
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.post-textarea
{
    padding-left: 20px;
}

.post-create-update-section textarea
{
    display: block;
    width: 96%;
    height: 100px;
    border: 0.5px solid rgb(196, 194, 194);
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.post-save-btn
{

    height: 35px;
    background-color:#FF7F01;
    border: 0px;
    border-radius: 5px;
    padding: 0px 20px;
    margin-left: 20px;
 
    color: white;
    font-weight: 700;
}
